<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>    
<body>
    <h1>Welcome to Programming - About</h1>
    
    <%- include("./partials/nav.ejs") %>


</body>
<%- include("./partials/footer.ejs") %>

</html>